@import '../styles/variables';

.appbar {
  position: fixed;
  bottom: 0;
  background: $color-black;
  ul {
    display: flex;
    gap: $space;
    li {
      a {
        color: $color-white;
      }
    }
  }
}
